<h1>Homazon</h1>

<h2>Join the movement!</h2>
<form action="/register" method="POST"> 
<br>
First Name:
<input type="text" name="firstName">
<br>
Last Name:
<input type="text" name="lastName">
<br>
Email Adress:
<input type="text" name="Email Adress">
<br>
Username:
<input type="text" name="username">
<br>
Password:
<br>
<input type="password" name="password">
<br>
<input type="submit">
</form>